<div class="container">
    <form [formGroup]="tareasForm" (ngSubmit)="add(tareasForm.value)">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="Tarea" placeholder="Descripción de la tarea" required>
            </div>
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-primary" [disabled]="tareasForm.invalid">Guardar</button>
              </div>
              <div class="error" *ngIf="tareasForm.get('Tarea').hasError('required') && tareasForm.get('Tarea').touched">
                *Campo requerido, Ingrese una tarea*
            </div>
        </div>
    </form>
    <button *ngIf="tareas.length>0" type="button" class="btn btn-danger" (click)="Eliminar()">Eliminar Todo</button>
</div>
<br><br><br>
<div *ngFor="let tareasn of tareas" class="container">
<app-tareas-list [TareasList]="[tareasn]"></app-tareas-list>
</div>
<br>
<div class="container p">
    <p >Lizbeth Ricaño Bautista</p>
    <p>Desarrollo de Aplicaciones Web</p>
    <p>ITIC. Iván Eduardo García Quintero</p>
</div>