<div>
    <form>
        <div class="form-row align-items-center">
            <div>
            <div class="col-sm-3 my-1">
              <input type="text" class="form-control" id="inlineFormInputName" placeholder="Descripción de la tarea">
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
        </div>
    </form>
    <button type="button" class="btn btn-danger">Eliminar Todo</button>
</div>

<div class="container">
    <p>Lizbeth Ricaño Bautista</p>
    <p>Desarrollo de Aplicaciones Web</p>
    <p>ITIC. Iván Eduardo García Quintero</p>
</div>